.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background: linear-gradient(225.41deg, #3F0F40 0%, #0F274A 100%);

    padding: 0 160px;
}

.header__side {
    display: flex;
    align-items: center;
}

.logo {
    height: 28px;
    min-width: 175px;
    background: url("../../css/imgs/logo.png") no-repeat;
}

.link {
    display: flex;
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    margin: 0 55px;
}

.navigation__link {
    color: #FFFFFF;
    font-family: "Source Sans Pro Regular";
    font-size: 16px;
    letter-spacing: -0.04px;
    line-height: 20px;
}

.navigation__link:not(:last-child) {
    margin-right: 32px;
}

.navigation__link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.workspace-button {
    color: #FFFFFF !important;
    background-color: #193B70;
}

.selection {
    padding: 106px 160px;
}



/*main*/
.main {
    display: flex;
    justify-content: space-between;
}
.main__side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main__title {
    width: 595px;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -0.14px;
    line-height: 65px;

    margin-bottom: 27px;
}
.main__description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;

    width: 450px;
    margin-bottom: 70px;
}
.main__app-img {
    height: 323px;
    width: 400px;
    background: url("../../css/imgs/main.png") no-repeat;
    background-size: cover;

    margin-left: 125px;
}
.github-button {
    background-color: #FFCD19;
}
.demo-button {
    border: 1px solid rgba(151,151,151,0.36);
    margin-left: 24px;
}

/*features*/
.features {
    position: relative;
}

.features:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 180px;
    height: 791px;

    background: linear-gradient(225.41deg, #3F0F40 0%, #0F274A 100%);
}


.features__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;

    margin-bottom: 18px;
}

.features__description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;

    width: 700px;

    margin-bottom: 88px;
}

/*repository*/
.repository {
    display: flex;
    justify-content: space-between;

    padding-bottom: 69px;
}
.repository__side {}

.repository__img-container {
    box-sizing: border-box;
    height: 606px;
    width: 555px;
    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px rgba(25,34,72,0.16);

    padding: 34px 36px 42px 39px;
}
.repository__img {
    height: 530px;
    width: 480px;

    background: url("../../css/imgs/add-repository.png") no-repeat;
}
.repository__sync {
    display: flex;
    flex-direction: column;

    margin-left: 97px;
    padding-top: 34px;
}
.repository__sync-img {
    height: 88px;
    width: 98px;

    background: url("../../css/imgs/octopus.png") no-repeat;

    margin-bottom: 28px;
}
.repository__sync-title {
    width: 277px;

    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 40px;

    margin-bottom: 22px;
}
.repository__sync-description {
    width: 458px;

    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 27px;
}

/*parsing*/
.parsing {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 178px;
}
.parsing__img {
    height: 88px;
    width: 98px;

    background: url("../../css/imgs/cat.png") no-repeat;
}
.parsing__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 40px;
    text-align: center;

    margin-bottom: 26px;
}
.parsing__description {
    width: 555px;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 27px;
    text-align: center;

    margin-bottom: 54px;
}
.parsing__app-img-container {
    box-sizing: border-box;
    height: 541px;
    width: 891px;
    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px #0A0F2D;

    padding: 31px 24px 39px 26px;
}
.parsing__app-img {
    height: 471px;
    width: 841px;

    background: url("../../css/imgs/parsing.png") no-repeat;
}

/*teamwork*/
.teamwork {
    display: flex;
    justify-content: space-between;
}
.teamwork__side {
    display: flex;
    flex-direction: column;
}
.teamwork__app-img-container {
    box-sizing: border-box;
    height: 606px;
    width: 555px;
    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px rgba(25,34,72,0.16);

    padding: 27px 53px 26px 54px;
}
.teamwork__app-img {
    height: 553px;
    width: 448px;

    background: url("../../css/imgs/teamwork.png") no-repeat;
}
.teamwork__img {
    height: 114px;
    width: 114px;

    background: url("../../css/imgs/cat-dog.png") no-repeat;

    margin-bottom: 25px;
}
.teamwork__title {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 40px;

    margin-bottom: 25px;
}
.teamwork__description {
    width: 458px;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 27px;
}

/*projects*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.projects__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;

    margin-bottom: 25px;
}
.projects__description {
    width: 731px;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;

    margin-bottom: 75px;
}

.projects__examples {
    display: flex;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: 358px;
    width: 336px;

    padding: 31px 28px 25px 29px;

    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px rgba(189,189,189,0.47);
}
.project:not(:last-child) {
    margin-right: 56px;
}

.project__img {
    height: 94px;
    width: 127px;

    background-color: #9abcf2;

    margin-bottom: 25px;
}

.google_img {background: url("../../css/imgs/goggle.png") no-repeat;}
.vue_img {background: url("../../css/imgs/vue.png") no-repeat;}
.nuxt_img {background: url("../../css/imgs/nuxt.png") no-repeat;}

.project__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;

    margin-bottom: 10px;
}
.project__description {
    width: 218px;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;

    margin-bottom: 15px;
}
.project__languages {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.project__arrow-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.project__arrow {
    align-self: flex-end;
    height: 25px;
    width: 25px;

    background-color: #9abcf2;

    background: url("../../css/imgs/arrow.png") no-repeat;
}

/*review*/
.review {
    display: flex;
    justify-content: center;
}
.review__side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.review__avatar {
    height: 134px;
    width: 134px;

    margin-right: 40px;
    border-radius: 50%;

    background: url("../../css/imgs/avatar.png") no-repeat;
}
.review__description {
    width: 731px;

    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;

    white-space: pre-wrap;

    margin-bottom: 10px;
}
.review__name {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}
.review__organisation {
    color: #B3B3B3;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

/*advantages*/
.advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.advantages__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;

    margin-bottom: 20px;
}
.advantages__description {
    width: 731px;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;

    margin-bottom: 84px;
}
.advantages__video {
    box-sizing: border-box;
    height: 630px;
    width: 1120px;
    border: 1px solid #979797;
    background-color: #D8D8D8;
}

/*enjoy*/
.enjoy {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enjoy__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;

    margin-bottom: 60px;
}
.enjoy__button {
}

/*footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 531px;
    background: linear-gradient(225.41deg, #3F0F40 0%, #0F274A 100%);

    padding: 82px 161px;
}
.footer__side {
    display: flex;
    align-items: stretch;
}

.footer__row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.footer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__column:not(:last-child) {
    margin-right: 94px;
}

/*todo убрать конфликт селекторов*/
.footer__logo2 {
    height: 100%;

    margin-right: 94px;
}
.logo__img {
    height: 32px;
    min-width: 175px;
    background: url("../../css/imgs/logo.png") no-repeat;

    margin-bottom: 18px;
}
.logo__title {
    width: 173px;

    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 20px;
}
/*todo убрать конфликт селекторов*/
.footer__title2 {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.11px;
    line-height: 23px;

    margin-bottom: 40px;
}
.footer__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 38px;
}
.footer__item {
    opacity: 0.77;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 18px;
}

.footer__item:not(:last-child) {
    margin-bottom: 15px;
}

.social {
    height: 35px;
    width: 90px;
    background: url("../../css/imgs/social.png") no-repeat;
}

.copyright {
    opacity: 0.51;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 18px;
    text-align: right;
}
