/*root css*/
* {
    scroll-behavior: smooth;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}
.homepage__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 15px;
}
.homepage__container--adaptive {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.homepage__flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: content;
}

.header {}
.header__container {
    display: flex;
    justify-content: center;
    background: linear-gradient(225.41deg, #3F0F40 0%, #0F274A 100%);
    padding-left: 15px;
    padding-right: 15px;
}

.navigation__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-self: flex-start;
}

.logo {
    height: 28px;
    min-width: 175px;
    background: url("../../css/task/logo.png") no-repeat;
    margin: 19px 55px 17px 0;
}

.link {
    display: flex;
    height: 100%;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

.navigation__link {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    letter-spacing: -0.04px;
    line-height: 20px;
    margin: 19px 15px 17px 0;
}

.navigation__link:not(:last-child) {
    margin-right: 33px;
}

.navigation__link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.workspace-button {
    color: #FFFFFF !important;
    background-color: #193B70;
    padding: 9px 16px;
    margin: 15px 0;
    align-self: flex-end;
    letter-spacing: 0.7px;
}

.user {
    width: 40px;
    height: 40px;
    background: url(../../css/imgs/user.png) center center / 40px
    no-repeat;
    margin-right: 10px;
}

.user-select-arrow {
    width: 10px;
    height: 10px;
    background: url(../../css/icons/arrow-drop-down.svg) center center / 18px
    no-repeat;
}

.selection {
    padding: 106px 160px;
    flex-wrap: wrap;
}

/*main*/
.main {
    padding-top: 107px;
}

.main__side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -0.14px;
    line-height: 65px;

    margin-bottom: 27px;
}
.main__description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 32px;
    margin-bottom: 59px;
    width: 350px;
}
.main__app-img {
    align-self: flex-end;
    height: 323px;
    width: 400px;
    background: url("../../css/task/main.png") no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.main__actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 413px;
}

.github-button {
    position: relative;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 20px;
    padding-top: 16px;
    padding-right: 15px;
    padding-left: 53px;
    padding-bottom: 16px;
    background-color: #FFCD19;
    margin-top: 10px;
}

.github-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 57px;
    background: url("../../css/task/github.svg") center no-repeat;
}

.demo-button {
    margin-top: 10px;
    padding: 15px 41px;
    border: 1px solid rgba(151,151,151,0.36);
}

/*features*/
.features {
    position: relative;
    padding-top: 135px;
}

.features:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/

    height: 779px;
    background-color: rgba(23,64,136,0.02);
}

.features__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;
    margin-bottom: 18px;
}

.features__description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 32px;
    width: 725px;
}

/*repository*/
.repository {
    padding-top: 40px;
}

.repository__img-container {
    box-sizing: border-box;
    height: 606px;
    width: 555px;
    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px rgba(25,34,72,0.16);
    padding: 39px 36px 42px 39px;

}
.repository__img {
    height: 530px;
    width: 480px;

    background: url("../../css/task/add_repository.png") no-repeat;
}
.repository__sync {
    padding-top: 35px;
    padding-left: 93px;
}
.repository__sync-img {
    height: 88px;
    width: 98px;
    background: url("../../css/task/octopus.svg") no-repeat;
    margin-bottom: 27px;
}
.repository__sync-title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 40px;

    margin-bottom: 22px;
}
.repository__sync-description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05px;
    line-height: 27px;
}

/*parsing*/
.parsing {
    padding-top: 32px;
}

.parsing .homepage__container--adaptive {
    justify-content: center;
}

.parsing__img {
    align-self: center;
    height: 98px;
    width: 72px;
    background: url("../../css/task/cat.svg") no-repeat;
    margin-bottom: 19px;
}
.parsing__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 40px;
    text-align: center;

    margin-bottom: 26px;
}
.parsing__description {
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 550px;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 27px;
    text-align: center;
    margin-bottom: 54px;
}
.parsing__app-img-container {
    align-self: center;
    box-sizing: border-box;
    height: 541px;
    /*width: 891px;*/
    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px #0A0F2D;

    padding: 31px 24px 39px 26px;
}
.parsing__app-img {
    height: 471px;
    width: 841px;

    background: url("../../css/task/diff_management.png") no-repeat;
}

/*teamwork*/
.teamwork {
    position: relative;
    padding-top: 130px;
}

.teamwork:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -128px;
    left: 0;
    right: 0;
    bottom: 121px;

    background: linear-gradient(225.41deg, #3F0F40 0%, #0F274A 100%);
}

.teamwork__app-img-container {
    box-sizing: border-box;
    height: 606px;
    width: 555px;
    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px rgba(25,34,72,0.16);

    padding: 27px 53px 26px 54px;
}
.teamwork__app-img {
    height: 553px;
    width: 448px;

    background: url("../../css/task/pull_request.png") no-repeat;
}
.teamwork__info {
    padding-top: 25px;
    padding-left: 93px;
}
.teamwork__info-img {
    height: 114px;
    width: 114px;

    background: url("../../css/task/cat-and-dog.svg") no-repeat;

    margin-bottom: 25px;
}
.teamwork__info-title {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 40px;

    margin-bottom: 22px;
}
.teamwork__info-description {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05px;
    line-height: 27px;
}

/*projects*/
.projects {
    padding-top: 70px;
}
.projects__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;

    margin-bottom: 25px;
}
.projects__description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    max-width: 675px;
}

.projects__examples {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    height: 358px;
    width: 336px;
    padding: 29px 22px 19px 33px;
    border: 1px solid rgba(151,151,151,0.27);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 54px 24px -39px rgba(189,189,189,0.47);
    margin-top: 73px;
    margin-bottom: 40px;
}
.project:not(:last-child) {
    margin-right: 56px;
}

.project__side {
    height: 100%;
}

.project__img {
    height: 94px;
    background-color: #9abcf2;
    margin-bottom: 25px;
}

.google_img {background: url("../../css/imgs/goggle.png") no-repeat;}
.vue_img {background: url("../../css/imgs/vue.png") no-repeat;}
.nuxt_img {background: url("../../css/imgs/nuxt.png") no-repeat;}

.project__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;

    margin-bottom: 10px;
}
.project__description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;

    margin-bottom: 15px;
}
.project__languages {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.project__arrow-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.project__arrow {
    align-self: flex-end;
    height: 25px;
    width: 25px;

    background-color: #9abcf2;

    background: url("../../css/imgs/arrow.png") no-repeat;
}

/*review*/
.review {
    position: relative;
    padding-top: 155px;
}

.review:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/

    height: 522px;
    background-color: rgba(23,64,136,0.02);
}

.review__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0 50px;
}
.review__info-side {
    display: flex;
    flex-direction: column;
}
.review__info-avatar {
    align-self: center;
    height: 134px;
    width: 134px;
    border-radius: 50%;
    background: url("../../css/imgs/avatar.png") no-repeat;
    margin-bottom: 30px;
}
.review__info-description {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    white-space: pre-wrap;
    margin-bottom: 10px;
    padding-right: 70px;
}

.review__info-paragraph {
    margin-bottom: 10px;
}

.review__info-name {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}
.review__info-organisation {
    color: #B3B3B3;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

/*advantages*/
.advantages {
    padding-top: 163px;
}
.advantages__title {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;

    margin-bottom: 20px;
}
.advantages__description {
    max-width: 731px;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 300;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;

    margin-bottom: 84px;
}
.advantages__video {
    width: 1120px;
    height: 630px;
}

/*enjoy*/
.enjoy {
    position: relative;
    padding-top: 182px;
    padding-bottom: 85px;
}

.enjoy:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*height: 522px;*/
    background-color: rgba(23,64,136,0.02);
}

.enjoy__title {
    align-self: center;
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 50px;
    margin-bottom: 49px;
}
.enjoy__button {
    align-self: center;
}

/*footer*/
.footer {
    padding-top: 82px;
    background: linear-gradient(225.41deg, #3F0F40 0%, #0F274A 100%);
}
.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start !important;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.footer__side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer__menu-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__menu:not(:last-child) {
    margin-right: 20px;
}

.footer__menu-logo {
    height: 100%;

    margin-right: 94px;
}
.logo__img {
    height: 32px;
    min-width: 175px;
    background: url("../../css/task/logo.png") no-repeat;

    margin-bottom: 18px;
}
.logo__title {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 20px;
    margin-bottom: 30px;
    max-width: 170px;
    text-align: start;
}
/*todo убрать конфликт селекторов*/
.footer__menu-title {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.11px;
    line-height: 23px;

    margin-bottom: 40px;
}
.footer__menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 38px;
}
.footer__menu-item {
    opacity: 0.77;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 18px;
    border: none !important;
    text-decoration: none;
    /*text-transform: none;*/
}

.footer__menu-item:hover {
    color: #FFFFFF;
    border: none !important;
}

.footer__menu-item:active {
    border: none !important;
}

.footer__menu-item:focus {
    border: none !important;
}

.footer__menu-item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__features {
    min-width: 212px;
}
.footer__projects {
    min-width: 265px;
}
.footer__company {
    min-width: 114px;
}

.social {
    display: flex;
    flex-direction: row;
}

.facebook {
    height: 35px;
    width: 35px;
    background: url("../../css/task/facebook.svg") no-repeat;
}
.twitter {
    height: 35px;
    width: 35px;
    background: url("../../css/task/twitter.svg") no-repeat;
}

.copyright {
    opacity: 0.51;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 18px;
    text-align: right;
}
